* {
    font-family: 'Raleway', sans-serif;
    color: grey;
}

body {
    margin: 0;
    padding: 0px;
}

.accent {
    color: #484D6D;
}

hr {
    border-top: 1px solid #EE6352;
    width: 50vw;
    margin: 2vh auto 0 auto;
}

/*  */

nav {
    margin: 1vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: .5em 2em;
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a:hover {
    text-decoration: underline;
	color: #484D6D;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
}

nav ul li a h1 {
    margin: 0;
}

/*  */

.hero {
    min-height: 50vh;
    background: url('./images/numbers.jpeg') no-repeat center center fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .herocontent {
    border: 10px solid white;
    background-color: grey;
    /* opacity: .85; */
    padding: 2em;
    width: 50%;
	animation: opac 3.5s forwards, spin 2s;
}

.herocontent :not(span) {
    color: white;
}

.herocontent ul {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.herocontent ul li {
    list-style-type: none;
    padding: 0 1em;
}

.herocontent h1 {
	margin-top: 0;
}

/*  */

.sectionHeader {
    text-align: center;
    color: #28A745;
}

.sectionSubHeader {
    text-align: center;
    color: #484D6D;
	margin-top: 0;
}

#skills .skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
	flex-direction: row;
    margin: 0 2em;
}

#skills .skills .subskill {
    flex-basis: 30%;
}

#skills .skills .subskill ul {
    list-style-type: none;
    padding: 0;
}

.sectioncontent {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
	animation: fadein 4s;
}

/* */

.experience {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
    justify-content: space-around;
    margin: 0 2em;
}

.citi {
	display: block;
	margin: auto;
	max-height: 12vh;
	max-width: 20%;
}

.experience .experiencebox {
	flex-basis: 30%;
}

/*  */

#contact {
	margin: 2em;
}
#contact ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	align-items: center;
    justify-content: center;
	text-align: center;
}

#contact ul li {
	flex-basis: 20%;
}

/*  */

@media screen and (max-width: 800px) {
	nav ul, #skills .skills, #experience .experience, #contact ul {
		flex-direction: column;
	}
	nav ul li a {
		padding: 1vh;
	}
}

@keyframes opac {
	from { opacity: 0 }
	to { opacity: .85 }
}

@keyframes fadein {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes spin {
	0%   { transform: rotate(-120deg);  }
	/* 25%  { transform: rotate(-15deg);  } */
	100% { transform: rotate(0deg);   }
}
