/* #00f6ff
#28A745 */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: grey;
    font-family: 'Raleway', 'Lato', sans-serif;
}

.accentg {
    color: #28A745;
}

.accentb {
    color: blue;
}

.nav {
    margin: 2.5rem 5rem;
}

.nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.nav__ul--li {
    font-size: 2rem;
    /* border-bottom: .1rem solid transparent; */
}

.nav__ul__flexbox--right {
	display: flex;
	text-align: center;
	flex-direction: row;
}

.nav__ul--lia {
	text-decoration: none;
	color: grey;
	padding: 1rem 2rem;
	transition: all .5s;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #28A745 50%);
	background-size: 220%;
}

.nav__ul--lia:hover {
    background-position: 100%;
	color: white;
}

.hero {
    height: 60vh;
    background: linear-gradient(to right, rgba(0,0,0, .8), rgba(0, 246, 255, .8)), url('./images/numbers.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero__content {
    /* line-height: 2rem; */
    font-size: 2.5rem;
    color: white;
}

.hero__content--header {
    letter-spacing: .5rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.hero__content--link {
    padding-top: 1rem;
    text-decoration: none;
    color: white;
}

.hero__content--link:hover {
    transform: translateY(-.1rem);
    box-shadow: 0 .2rem rgba(0,0,0,.3);
}

/*  */

.section {
    background-color: #f7f7f7;
    margin-top: -10vh;
    padding: 10vh 0 5vh 0;
    min-height: 60vh;
}

.section__mainheader {
    text-align: center;
    color: #28A745;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 4rem;
    padding: 2rem 0;
	text-shadow: .2rem .2rem 1rem rgba(128 ,128 , 128, .5);
}

.section__flex {
    margin: 2.5rem 5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
	flex-direction: row;
}

.section__flexbox {
	padding: 2rem;
	margin: 2rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    flex-basis: 30%;
	box-shadow: 0 2rem 5rem rgba(128 ,128 , 128, .1), 0 -.3rem 2rem rgba(128 ,128 , 128, .1);
	background-color: white;
}

.section__flexbox--header {
    color: #484D6D;
    text-align: center;
    padding-bottom: 2rem;
}

.citi {
    display: block;
    max-width: 5vw;
    margin: auto;
}

.hero2 {
    height: 60vh;
    background: linear-gradient(to right, rgba(0,0,0, .8), rgba(0, 246, 255, .8)), url('./images/dashboard.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50vh);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* */

.footer {
    margin: 2rem;
}

.footer__content--link {
    padding: 2rem;
    display: inline-block;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: grey;
}

@media screen and (max-width: 920px) {
	html {
		font-size: 55%;
	}
	.nav__ul, .section__flex, .nav__ul__flexbox--right {
        flex-direction: column;
    }
    .nav__ul--li {
        padding: .5rem 0;
    }
	.section__flex {
		margin: 1rem;
	}
}
