:root {
	--color-blue-primary: #00f6ff;
	--color-green-primary: #28A745;
	--color-purple-primary: #484D6D;
	--color-white-primary: #fff;
	--color-grey-primary: #808080;
	--color-grey-secondary: #f7f7f7;

    --shade-black-primary: rgba(0, 0, 0, .8);
    --shade-black-secondary: rgba(0, 0, 0, .4);
	--shade-blue-primary: rgba(0, 246, 255, .8);
	--shade-grey-primary: rgba(128 ,128 , 128, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-grey-primary);
    font-family: 'Raleway', 'Lato', sans-serif;
}

/* NAV */

.nav {
    margin: 2.5rem 5rem;
}

.nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.nav__ul .banner {
	margin-right: auto;
}

.nav__ul--li {
    font-size: 2rem;
    cursor: pointer;
}

.nav__ul--lia {
	text-decoration: none;
	color: var(--color-grey-primary);
	padding: 1rem 2rem;
	transition: all .5s;
    text-transform: uppercase;
    transition: .5s ease-out;
}

.nav__ul--lia:hover {
    color: var(--color-white-primary);
    background: var(--color-green-primary);
    box-shadow: 0 1rem 1rem -.5rem var(--shade-black-secondary);
}

/* HERO */

.hero {
    height: 60vh;
    background: linear-gradient(to right, var(--shade-black-primary), var(--shade-blue-primary)), url('./images/numbers.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transform-origin: top;
    animation: slidein .8s ease-out;
}

.hero__content {
    font-size: 2.5rem;
    color: var(--color-white-primary);
}

.hero__content--header {
    letter-spacing: .5rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.hero__content--link {
    padding-top: 1rem;
    text-decoration: none;
    color: var(--color-white-primary);
}

/*  SECTION */

.section {
    background-color: var(--color-grey-secondary);
    margin-top: -10vh;
    padding: 10vh 0 5vh 0;
    min-height: 60vh;
}

.section__mainheader {
    text-align: center;
    color: var(--color-green-primary);
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 4rem;
    padding: 2rem 0;
	text-shadow: .2rem .2rem 1rem var(--shade-grey-primary);
}

.section__flex {
    margin: 2.5rem 5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
	flex-direction: row;
}

.section__flexbox {
	padding: 2rem;
	margin: 2rem;
    flex-basis: 30%;
    
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    
	box-shadow: 0 2rem 7rem var(--shade-grey-primary);
    background-color: var(--color-white-primary);

    opacity: 0;
}

.section__flexbox--header {
    color: var(--color-purple-primary);
    text-align: center;
    padding-bottom: 2rem;
}

/* HERO2  */

.hero2 {
    height: 60vh;
    background: linear-gradient(to left, var(--shade-black-primary), var(--shade-blue-primary)), url('./images/dashboard.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50vh);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* FOOTER */

.footer {
    margin: 2rem;
}

.footer__content--link {
    padding: 2rem;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: var(--color-grey-primary);
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
	html {
		font-size: 55%;
	}
	.nav__ul, .section__flex, .nav__ul__flexbox--right {
        flex-direction: column;
    }
    .nav__ul--li {
        padding: .8rem 0;
    }
	.banner {
		margin: 0 auto;
	}
	.section__flex {
		margin: 1rem;
	}
}

/* KEYFRAMES */
@keyframes fadein {
    from { opacity: .25; transform: scale(.75) }
    to { opacity: 1; transform: scale(1) }
}

.fader {
    animation: fadein .75s linear forwards;
}

@keyframes slidein {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}